---
import type { Entry } from "@/utils/types.ts";
import Directory from "@/components/explorer/items/Directory.astro";
import Pdf from "@/components/explorer/items/Pdf.astro";
import Url from "@/components/explorer/items/Url.astro";
import Contribute from "@/components/explorer/items/Contribute.astro";
import { comparePyqs } from "@/utils/helpers";

interface Props {
	title: string;
	path: string;
	dirs: Entry[];
	pdfs: Entry[];
	urls: Entry[];
	files: Entry[];
}

const { title, path, dirs, pdfs, urls } = Astro.props;

pdfs.sort((a: Entry, b: Entry) => {
	if (a.pyq && b.pyq === null) return -1;
	if (a.pyq === null && b.pyq) return 1;
	if (a.pyq === null && b.pyq === null) return 0;
	// biome-ignore lint/style/noNonNullAssertion: <explanation>
	return -1 * comparePyqs(a.pyq!, b.pyq!);
});
---

<ul
	class="fileList"
	transition:name={title.replace(" ", "_")}
	transition:animate="fade"
>
	{
		dirs.map((dir: Entry) => (
			<li>
				<Directory dir={dir} />
			</li>
		))
	}
	{
		pdfs.map((pdf: Entry) => (
			<li>
				<Pdf pdf={pdf} />
			</li>
		))
	}
	{
		urls.map((url: Entry) => (
			<li>
				<Url url={url} />
			</li>
		))
	}
	{
		pdfs.length > 0 && (
			<li>
				<Contribute title={title} path={path} />
			</li>
		)
	}
</ul>

<style>
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li {
		margin: 10px;
	}
</style>

<style is:global>
	.folder-link {
		color: var(--text-color) !important;
		padding: 1em;
		font-size: large;
		width: inherit;
		max-width: 80%;
		word-wrap: break-word;
	}
	.region {
		width: inherit;
		height: inherit;
		padding: 0.5em 1em;
		display: flex;
		align-items: center;
		justify-content: left;
		border-radius: 0.5em;
		background-color: var(--highlight-color);
		transition: transform 0.2s;
		position: relative;
	}
	.region:hover {
		background-color: var(--highlight-hover-color);
		cursor: pointer;
		transform: scale(1.025);
		box-shadow: var(--box-shadow);
	}
	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.entry-link {
		pointer-events: painted;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
</style>
