---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import "@/styles/global.css";

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image } = Astro.props;

const SITE_BASE = import.meta.env.BASE_URL;

const ogImage = image ? image : `${SITE_BASE}assets/icons/favicon.ico`;

const pageTitle = `${SITE_TITLE} | ${title}`;
const pageDescription = `${description}\n${SITE_DESCRIPTION}`;
---

<title>{pageTitle}</title>

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link
	rel="icon"
	type="image/svg+xml"
	href={`${SITE_BASE}assets/icons/favicon.ico`}
/>
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<meta name="title" content={title} />
<meta name="description" content={pageDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={pageDescription} />
<meta property="og:image" content={ogImage} />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={canonicalURL} />
<meta property="twitter:url" content={Astro.url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={pageDescription} />
<meta name="twitter:image" content={ogImage} />

<script is:inline data-astro-rerun>
	const theme = (() => {
		if (
			typeof localStorage !== "undefined" &&
			localStorage.getItem("theme")
		) {
			return localStorage.getItem("theme");
		}
		if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
			return "dark";
		}
		return "light";
	})();

	if (theme === "light") {
		document.documentElement.classList.remove("dark");
	} else {
		document.documentElement.classList.add("dark");
	}
	window.localStorage.setItem("theme", theme);
</script>
